body {
    background-image: url(./wood-bckgrnd.jpg);
    background-size: cover;
    margin: 0 auto;
}

.container {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 4fr;
    grid-gap: 1em;
}

header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    text-align: center;
    padding: 0.5em;
    box-shadow: 3px 3px 10px -2px black;
}

.planner {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-flow: column;
}

.planner .card {
    min-height: 10em;
    box-shadow: 3px 3px 10px -2px black;
    padding: 10px;
 }

.planner .day {
   display: grid;
   grid-template-columns: 1fr 5fr;
   align-items: center;
}

.planner .day h2 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    text-align: center;
    
}

.planner input {
    width: 100%;
    border: none;
}

.planner .day input {
    grid-column: 2 / span 1;
    margin-top: 10px;
}

.planner .extra input {
    height: 8.5em;
}

.shopping {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    height: 100%;
    background-image: url(./notepad_dotted_paper.png);
    background-size: 100% 100%;
    box-shadow: 3px 3px 10px -2px black;
    padding: 70px 20px 0px 20px;
    position: relative;
}

.shopping .newListInput {
    border: none;
    width: 70%;
    display: inline;
}
.shopping .submitInput {
    width: 20%;
    display: inline;
}

.shopping ul {
    list-style: none;
    margin-left: -30px;
    
}
.shopping li {
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s;
}
.shopping li:hover {
    font-weight: bold;
}
.shopping li.checked {
    color: grey;
    text-decoration: line-through;
}
.close {
    position: absolute;
    right: 20px;
}